@import "vars";
.categories {
    padding: 60px 165px;
    text-align: center;
    &__title {
        font-family: $secondery-font;
        font-style: italic;
        font-weight: 300;
        font-size: 40px;
        line-height: 40px;
        text-transform: capitalize;
        color: $color-text;
    }
    &__list {
        display: flex;
        justify-content: center;
        gap: 30px;
        list-style: none;
    }
    &__item {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__link {
        display: inline-block;
        text-decoration: none;
        font-family: $secondery-font;
        font-style: italic;
        font-weight: 300;
        font-size: 40px;
        line-height: 40px;
        text-transform: capitalize;
        color: $accent;
        z-index: 1;
    }
}