$main-font: "lato",
sans-serif;
$secondery-font: "Open Sans",
sans-serif;
$accent: #ffffff;
$red: #dc0000;
$color-text: #333333;
$secondery-color: #9a9a9a;
$line-height-paragraph: 40px;
$orange: #fd2600;